[Desktop Entry]
Name=Waydroid
Comment=Launch Waydroid inside Weston
Exec=bash "/home/beatlink/.local/share/waydroid/waydroid.sh"
Icon=waydroid
Terminal=false
Type=Application
Categories=System;